#demos{
  padding: 40px 0;
  background-color: #FBFBFB;
  border: 1px solid #e5e4e4;
  .text{
    @include Flexible(center,center,column, wrap ,5px);
    h3{
    line-height: 23px;
    font-size: 13px;
    margin-bottom: 10px;
    color: #767676;
    }
    h1{
      line-height: 40px;
    font-size: 30px;
    color: #242424;
    font-weight: 600;
    margin-bottom: 10px;
    }
    p{
      text-align: center;
      font-size: 14px;
      margin-bottom: 10px;
      color: #767676;
    }
  }
  .images{
    @include Flexible(center,center,row, wrap ,5px);
   img{
    width: 220px;
    height: 180px;
   }
  }
}