#demos{
  padding: 40px 0;
  background-color: #FBFBFB;
  border: 1px solid #e5e4e4;
  font-family: $base_font;
  .text{
    @include Flexible(center,center,column, wrap ,5px);
    h3{
    line-height: 23px;
    font-size: 15px;
    color: #767676;
    }
    h1{
      font-size: 22px;
      color: #242424;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 1.4;
    }
    p{
      text-align: center;
      font-size: 13px;
      margin-bottom: 10px;
      color: #767676;
    }
    .view{
      position: relative;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      &:hover{
        filter: opacity(0.8);
      }
      h4{
        font-size: 13px;
        font-weight: Lato;
        text-transform: uppercase;
        color: #333333;
        font-weight: 500;
      }
      &::before{
        content: " ";
        width: 100%;
        height: 2px;
        background-color: #83b735;
        position: absolute;
        left: 0;
        bottom: -5px;
        transition: 0.3s ease;
      }
    }
  }

  .images{
    @include Flexible(center,center,row, wrap ,5px);
   img{
    width: 220px;
    height: 180px;
   }
  }
}