#map{
  box-sizing: border-box;
  font-family: $base_font;
  padding: 0;
  margin: 0;
  .container-fluid {
    width: 100%;
    height: 500px;
    @include Flexible(center, center,column, wrap, 0);
    margin-bottom: 30px;

  }
 iframe{
  width: 100%;
  height: 100%;
 }
   

}