#products{
  font-family: $base_font;
  box-sizing: border-box;
  
  
  .head-featured{
    @include Flexible(center, center, column, wrap, 0);
    margin-bottom: 30px;
    h3{
      font-size: 14px;
      color: #a5a5a5;
      margin-bottom: 10px;
    }
    h1{
      font-size: 26px;
      color: #242424;
      line-height: 1.4;
      font-weight: 600;
      margin-bottom: 10px;
    }
    h2{
      font-size: 16px;
      color: #767676;
    }
  }
 
.card{
  overflow: hidden;
  width: 283px;
  height: 450px;
  padding: 1rem;
  background-color: red;
  transition: 0.3s all;
  &:hover{
    height: 600px;
    padding: 0;
  }
  .card-body{
    height: 260px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
  .card-text{
    height: 0;
    margin-top: 0.5rem;
    text-align: center;
    transition: 0.3s all;
    h1{
      visibility: hidden;
      opacity: 0;
      transition: 0.3s all;
    }
    h1{
      font-size: 2.5rem;
      line-height: 1.4;
    }
  }
}
.card:hover .card-text h1{
  opacity: 1;
  visibility: visible;
}
.card:hover .card-body {
  height: 340px; 
}

}